

h1 {
    text-align: center;
    color:lightgreen
}

h3 {
    color:blue
}

p {
    color:red
}

div {
    text-align: center;
    border-style: double;
    border-width:thick;
    color:black;
    background-color: darkgray;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
}